@import 'reset.css';
@import 'w2ui-1.4.3.css';

::-webkit-scrollbar {
    height: 12px;
    width: 16px;
    background: #fff;
    }
  
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1);
    -webkit-border-radius: 0;
    -webkit-box-shadow: none
}
::-webkit-scrollbar-corner {
    background: blue;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  font-size: 11pt;
  background: #ddd;
}

#splash {
  display: none;
  background: #222;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation: fadeout 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards
}

@-webkit-keyframes fadeout {
  0% {opacity: 1; z-index: 1000;}
  50% {opacity: 0; z-index: 1000;}
  100% {opacity: 0; z-index: -1000;}
}

.w2ui-reset {
  font-family: 'Segoe UI', sans-serif !important;
}

.CodeMirror {
  height: calc(100% - 3.2em);
  width: 100%;
}

#schema {
  display: none;
}

#schema-select {
  width: 100%;
}

#tabs_mainTabs_tab_editor div:before {
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 0.5em;  
  content: "\e905";
}

#tabs_mainTabs_tab_schema div:before {
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 0.5em;  
  content: "\e9bc";
}

.toolbar {
  border-bottom: 1px solid #eee;
  background: #fdfdfd;
}

button {
  border: 0;
  font-size: 1.2em;
  background: #fdfdfd;
  color: #25A1D7;
  padding: 0.5em 1.3em 0.7em 1.3em;
  font-family: 'Segoe UI', sans-serif !important;
  transition: opacity 0.5s;
}

button:disabled {
  opacity: 0.3;
}

#filePath {
  color: #bbb;
  font-size: 0.8em;
  /* float: right; */
  float: right;
  height: 3.9em;
  line-height: 3.7em;
  display: block;
  padding-right: 2em;
}

#run {
   background: #009245;
  color: #fff; 
}

#explain {
  background: rgb(249, 180, 2);
  color: #fff;
}

.w2ui-grid {
  border: none;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-columns {
  box-shadow: none
}

.w2ui-grid .w2ui-grid-body table .w2ui-head {
  border: none;
  background: #25A1D7;
  color: #fff;
  font-weight: bold;
  border-right: 1px solid #50B2DD;
  padding-left: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.2em;
}

.w2ui-grid .w2ui-grid-body table td {
  border-right: 1px solid #ddd;
}

.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div {
  padding: 1em 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2em;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd {
  color: inherit;
  background-color: #fff;
  color: #333;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even {
  color: inherit;
  background-color: #fcfcfc;
  color: #333;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd:hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even:hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd.w2ui-empty-record:hover
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even.w2ui-empty-record:hover {
  color: #333 !important;
  background-color: #eee !important;
}

.w2ui-tabs {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.w2ui-tabs table {
  padding: 0;
  border: none;
  font-size: 1.1em;
}

.w2ui-tabs .w2ui-tab.active {
  color: #333;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid #25A1D7;
}

.w2ui-tabs .w2ui-tab:hover {
  color: #25A1D7;
}


.w2ui-tabs .w2ui-tab {
  padding: 0.5em 2em;
  text-align: center;
  color: #333;
  background-color: transparent;
  border: none;
  border-bottom: none;
  white-space: nowrap;
  margin: 1px 1px -1px 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: default;
  font-size: 1.2em;
}

.w2ui-layout > div .w2ui-panel .w2ui-panel-content {
  background-color: #fdfdfd;
}

.w2ui-sidebar {
  background-color: #fdfdfd !important;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node {
  color: #eee !important;
  background: transparent;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node-caption {
  margin: 0;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-caption, .w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image, .w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image > span, .w2ui-sidebar .w2ui-sidebar-div .w2ui-node td.w2ui-node-dots {
  text-shadow: none !important;
  color: #333 !important;
  font-size: 1.2em;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover {
  border: none !important;
  background: #ddd !important;
  color: #333 !important;
  text-shadow: none !important;  
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected {
  border: none;
  background: #eee;
  color: #333 !important;
  text-shadow: none !important;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node {
  border: none !important;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node:hover {
  border: none !important;
  background: #f9f9f9 !important;
  text-shadow: none !important;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected .w2ui-node-caption, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover .w2ui-node-caption, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected .w2ui-node-image, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover .w2ui-node-image, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected .w2ui-node-image > span, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover .w2ui-node-image > span, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected td.w2ui-node-dots, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover td.w2ui-node-dots {
  color: #333 !important;
  text-shadow: none !important;
}

.w2ui-node-dots:before {
  font-family: icomoon;
  content: "\ea70";
  font-size: 16px;
  margin-right: 0.5em;
  color: #666;
  vertical-align: bottom;
}

.w2ui-popup {
  border-radius: 0;
}

.w2ui-popup .w2ui-msg-title {
  background: #25A1D7;
  color: #eee;
  border-radius: 0;
  font-size: 1.2em;
  height: auto;
  padding: 1em;
  border-bottom: none;  
}

.w2ui-popup .w2ui-box1, .w2ui-popup .w2ui-box2 {
  top: 3.6em;
}

.w2ui-popup .w2ui-msg-buttons {
  background: #fdfdfd;
  text-align: right;
  padding: 0;
  height: auto;
}

.w2ui-popup .w2ui-msg-body {
  padding: 0;
}

.w2ui-popup .w2ui-box1, .w2ui-popup .w2ui-box2 {
  bottom: 3.1em;
}

/* Game based on http://jsfiddle.net/ova777/kFxja/ */
#game-popup {
  z-index: 1000;
  position: absolute; 
  left: 0;
  right: 0;
  display: none;
}

#game {
  margin: 0 auto;
  width: 9em;
  background: #fff;
  padding: 2em;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

#game .score {
  text-align: right;
  color: #999;
  font-weight: bold;
}

#game #stack {
    width: 130px;
    height: 260px;
    border-top: 0px;
    margin-top: 1em;
    border-bottom: 3px solid #999;
}

#game .brick {
    width: 11px;
    height: 11px;
    border: solid 1px white;
    background: white;
    float: left;
}
#game .brick.on {
    background: #999;
}
#game .brick.now {
    background: #8CC63F;
}
