@import 'reset.css';
@import 'w2ui-1.4.3.css';

::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: #222;
    }
  
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.1);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: blue;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  font-size: 11pt;
  background: #555;
}

#splash {
  display: none;
  background: #222;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation: fadeout 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards
}

@-webkit-keyframes fadeout {
  0% {opacity: 1; z-index: 1000;}
  50% {opacity: 0; z-index: 1000;}
  100% {opacity: 0; z-index: -1000;}
}

.w2ui-reset {
  font-family: 'Segoe UI', sans-serif !important;
}

.CodeMirror {
  height: 100%;
}

#schema {
  display: none;
}

#schema-select {
  width: 100%;
}

.w2ui-grid {
  border: none;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-columns {
  box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
}

.w2ui-grid .w2ui-grid-body table .w2ui-head {
  border: none;
  background: #444;
  color: #eee;
  border-right: 1px solid #555;
  padding-left: 0.5em;
}

.w2ui-grid .w2ui-grid-body table td {
  border-right: 1px solid #444;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd {
  color: inherit;
  background-color: #333;
  color: #ddd;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even {
  color: inherit;
  background-color: #393939;
  color: #ddd;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd:hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even:hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd.w2ui-empty-record:hover
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even.w2ui-empty-record:hover {
  color: #fff !important;
  background-color: #444 !important;
}

.w2ui-tabs {
    background-color: #222;
}

.w2ui-tabs table {
  padding: 0;
  border: none;
  font-size: 1.1em;
}

.w2ui-tabs .w2ui-tab.active {
  color: #eee;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid #8CC63F;
}

.w2ui-tabs .w2ui-tab {
  padding: 0.5em 2em;
  text-align: center;
  color: #ddd;
  background-color: transparent;
  border: none;
  border-bottom: none;
  white-space: nowrap;
  margin: 1px 1px -1px 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: default;
}

.w2ui-layout > div .w2ui-panel .w2ui-panel-content {
  background-color: #333;
}

.w2ui-sidebar {
  background-color: #333 !important;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node {
  color: #eee !important;
  background: transparent;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node-caption {
  margin: 0;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-caption, .w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image, .w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image > span, .w2ui-sidebar .w2ui-sidebar-div .w2ui-node td.w2ui-node-dots {
  text-shadow: none;
  color: #eee;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover {
  border: none;
  background: #666;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected {
  border: none;
  background: #555;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node {
  border: none;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node:hover {
  border: none;
  background: #444;
}